@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Poppins';
}

@layer utilities {
    .animation-delay-250 {
      animation-delay: 0.25s;
    }
    .animation-delay-500 {
      animation-delay: 0.5s;
    }
    .animation-delay-750 {
        animation-delay: 0.75s;
      }
  }

  ::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #B8C5E2;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 48, 48);
}